@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;600;700&display=swap");

* {
  padding: 0%;
  margin: 0%;
  font-family: "IBM Plex Sans", sans-serif;

  box-sizing: border-box;
}

.main {
  height: 66px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ninty {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-links button {
  padding: 7px 14px;
  border: 1px solid purple;
  border-radius: 5px;
  margin-right: 10px;
  background-color: transparent;
  color: purple;
  font-weight: bold;
  cursor: pointer;
}
.register {
  width: 30vw;
  height: 50vh;
  background-color: rgb(245, 245, 245);
  display: flex;
  align-items: center;
  justify-content: center;
}
.registeri {
  width: 80%;
  height: 50%;
}
input {
  width: 100%;
  padding: 15px 15px;
  margin-top: 10px;
  border-radius: 1000px;
  border: 1px solid purple;
}
button {
  padding: 10px;
  border-radius: 100px;
  border: 2px solid purple;
  margin-top: 10px;
}
.message {
  font-size: 40px;
  font-weight: bold;
  color: purple;
}
